<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppSettings>
    <add key="birthday" value="new BirthdayEvents()" />
    <add key="anniversary" value="new AnniversaryEvent()" />
  </AppSettings>
 <connectionStrings>
    <add name="dbcn" connectionString="Data Source=TAVDESK088;User Id=sa;Password=test123!@#;Initial Catalog=EmployeeData;"/> 
  </connectionStrings>
</configuration>